# Node.js dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE or editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.cursor

# OS-specific files
.DS_Store
Thumbs.db

# npm package lock files
package-lock.json
yarn.lock

# Build files
/dist
/build

# Test coverage directory
/coverage

# Temporary files
*.swp
*.swo

# Miscellaneous
*.tgz
*.bak
*.tmp
